#sesion{
	width: 15%;
}

#contenedorp{
	text-align: justify;
}

h1{
	color:white;
}

#noticia1{
	display: flex;
}

#noticia2{
	display: flex;
}

#noticia3{
	display: flex;
}

#noticia4{
	display: flex;
}